<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.call4it.kbsl.prasanga.call4it"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.Call4ItApplication"
        android:icon="@drawable/dialog_logo"
        android:label="Dial4it"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".UI.Login_Activity"
            android:label="Dial4It"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UI.Signup_Activity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity android:name=".UI.Main_Activity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity android:name=".UI.SltRainbowPages_Activity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity android:name=".UI.MovieTickets_Activity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity android:name=".UI.BusTickets_Activity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity android:name=".UI.TrainTickets_Activity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity android:name=".UI.SLCricketTickets_Activity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity android:name=".UI.Splash_Activity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

    </application>

</manifest>
